RECEIVER_GRPC_ENDPOINT=http://receiver:8083
RELAY_SESSION_ID=
RELAY_HTTP_BIND=0.0.0.0:8091
RELAY_OUTPUT_ROOT=/var/cache/robot-relay
RELAY_HLS_TARGET_DURATION_SEC=1
RELAY_HLS_PLAYLIST_LENGTH=6
RELAY_HLS_MAX_FILES=8
RELAY_EVENT_BUFFER=256
RELAY_METADATA_HISTORY_PER_STREAM=512
RELAY_GRPC_MAX_MESSAGE_MIB=64
RELAY_DISCOVERY_INTERVAL_MS=1000
RELAY_RECONNECT_MIN_MS=500
RELAY_RECONNECT_MAX_MS=10000
RELAY_CORS_ALLOW_ORIGIN=*
RUST_LOG=info
